{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Admin - Boite de Réception - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <table class="table table-bordered table-condensed" id="messageTable">
        <thead>
            <tr>
                <th style="width: 10px;">&nbsp;</th>
                <th style="width: 90px;">Reçu le</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Objet</th>
                <th style="width: 200px;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>
                    {% if message.isRead %}
                        <img src="{{ asset('img/read.png') }}" width="25px" />
                    {% else %}
                        <img src="{{ asset('img/unread.png') }}" width="25px" />
                    {% endif %}
                </td>
                <td>{{ message.receiveDate|date("d.m.Y") }}</td>
                <td>{{ message.lastName }} {{ message.firstName }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.objet }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" href="{{ path('carnaval_website_adm_messages_read', {'id': message.id, 'return':'read'}) }}">Lire</a>
                        <a class="btn btn-warning" href="{{ path('carnaval_website_adm_messages_archive', {'id': message.id, 'return':'read'}) }}">Archiver</a>
                        <a class="btn btn-danger" href="{{ path('carnaval_website_adm_messages_delete', {'id': message.id, 'return':'read'}) }}">Supprimer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <style>
        #messageTable_length {
            display: none;
        }
    </style>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function(){

            jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                "date-eu-pre": function ( date ) {
                    var eu_date, year;
                    date = date.replace(" ", "");

                    if (date.indexOf('.') > 0) {
                        /*date a, format dd.mn.(yyyy) ; (year is optional)*/
                        eu_date = date.split('.');
                    } else {
                        /*date a, format dd/mn/(yyyy) ; (year is optional)*/
                        eu_date = date.split('/');
                    }

                    /*year (optional)*/
                    if (eu_date[2]) {
                        year = eu_date[2];
                    } else {
                        year = 0;
                    }

                    /*month*/
                    var month = eu_date[1];
                    if (month.length == 1) {
                        month = 0+month;
                    }

                    /*day*/
                    var day = eu_date[0];
                    if (day.length == 1) {
                        day = 0+day;
                    }

                    return (year + month + day) * 1;
                },

                "date-eu-asc": function ( a, b ) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "date-eu-desc": function ( a, b ) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            } );


            $('#messageTable').DataTable({
                "order": [[ 1, "desc" ]],
                "iDisplayLength": 20,
                "columns": [
                    { "orderable": false },
                    { "type" : "date-eu" },
                    null,
                    null,
                    null,
                    { "orderable": false }
                ]
            });
        });
    </script>
{% endblock %}
