{% extends "::layout.html.twig" %}
 
{% block title %}
  Calendrier - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <h2 class="text-center">Evénements à venir</h2>
    {% for key,value in events %}
        {% if value|length != 0 %}
            <h4>Au mois de {{ key|toDateString('%B %Y') }}</h4>
        {% endif %}
        {% for event in value %}
            <span style="text-transform:uppercase; font-weight:bold">{{ event.lieu }}</span> - Le {{ event.eventDate|date('d/m/Y') }}<span></span>
            <p>{{ event.name }} :<br />{{ event.description|raw|nl2br }}</p>
            <hr />
        {% endfor %}
        {% if value|length != 0 %}
            <br/>
        {% endif %}
    {% endfor %}
{% endblock %}