{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Liens - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    {% for categorie in categories %}
       {% if categorie.liens|length != 0 %}
           <h4>{{ categorie.name }}</h4>
           <ul>
               {% for lien in categorie.liens %}
                    <li><a href="{{ lien.url }}">{{ lien.name }}</a> : {{ lien.description|raw|nl2br }}</li>
               {% endfor %}
           </ul>
       {% endif %}
    {% endfor %}
{% endblock %}